<%- include("partials/header"); -%>
<div class="about">
    
    <p>This is a menu-decider website which is used by the students. This website allows the students to give votes to their
        their favourite  food items that they want to
        get added into mess menu.
        If you are facing any problem related with this website you can reach me out by clicking on contact option.
    </p>
    
    
</div>
<%- include("partials/footer"); -%>