<%- include("partials/header2"); -%>
  
    <main>
        <div class="main-box">
        
            <div class="box-incharge container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 id="heading">Add Items</h1>
                    </div>
               
                        <form action="/additems" method="post" autocomplete="off">
                                    <input type="text"  name="item" >
                                    <button type="submit" id="addbutton">Add</button>
                           
                        </form>
                   
                    </div>
           
                
                    
             
            </div>
        </div>
    </main>
   
   
    <%- include("partials/footer"); -%>