<%- include("partials/header2"); -%>
  
    <main>
        <div class="main-box">
        
            <div class="box-incharge">
               
                
                    <h1 id="heading">Add Items</h1>
                  
               
                <form action="/additems" method="post">
                    <input type="text" placeholder="Enter new Item" name="item">
                    <button type="submit" id="addbutton">Add</button>
                </form>
           
             
            </div>
        </div>
    </main>
   
   
    <%- include("partials/footer"); -%>