<%- include("partials/header2"); -%>

<div class="main-items">
  
  
  <div class="all-items ">

    <h1>All Items with votes</h1> 
    <%  allitems.forEach(function(element){  %>
        <div class="show-items">
        
          <p> <i class="bi bi-balloon-fill"></i>
            <%= element.itemName %> having votes <%= element.vote %>
           </p> 
         
            
            <%  })  %>
        </div>
</div>
</div>



<%- include("partials/footer"); -%>