body{
  background: linear-gradient(135deg, rgba(43,171,217,1) 0%, rgba(0,130,200,1) 100%);
    font-family: "Montserrat", Arial;

}

.box-index{
  display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 122px auto;
    flex-direction: column;
}

.all-items{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black;
  display: block;
  width: 50%;
  margin:22px auto;
  background-color: #F8F8F8;
    border-radius: 1.5em;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1), 
      0 8px 8px rgba(0, 0, 0, 0.1),
      0 16px 16px rgba(0, 0, 0, 0.1), 
      0 32px 32px rgba(0, 0, 0, 0.15),
      0 64px 64px rgba(0, 0, 0, 0.15);
}
.all-items h1{
  text-decoration: underline;
}
.all-items p{
  font-size: 25px
}
.vote-items{
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black;
  display: block;
  width: 50%;
  margin:22px auto;
  border-radius: 20px;
  margin-bottom: 100px;
  background-color: #F8F8F8;
  height: 500px; 
  overflow-y : auto;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1), 
  0 8px 8px rgba(0, 0, 0, 0.1),
  0 16px 16px rgba(0, 0, 0, 0.1), 
  0 32px 32px rgba(0, 0, 0, 0.15),
  0 64px 64px rgba(0, 0, 0, 0.15);
}
.vote-items h1{
  text-decoration: underline;
}
.nameItem{
  display: inline;
  font-size: 20px;
}
.formItem{
  display: inline;
}

#votebtn{
  border-radius: 10px;
  padding: 5px 30px;
  margin: 9px 36px;
  font-size: 20px;
cursor: pointer;

}

#votebtn:hover{
  color: whitesmoke;
}

.feedback-box{
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
  }